.container {
width:400px;
margin-left:auto;
margin-right:auto;
padding-top:2rem;
}

.align-center {
  text-align: center;
}

/* CSS for welcome screen */

.welcome {
  width:100%;
  height:200px;
}

/* CSS for the board */

table {
  width: 100%;
  border-collapse: collapse;
}
td {
  width: 33.333%;
  border: 6px solid #000;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:nth-of-type(2) {
  border-top-color: transparent;
}
td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) td {
  border-bottom-color: transparent;
