.container {
width:400px;
margin-left:auto;
margin-right:auto;
padding-top:2rem;
}

.align-center {
  text-align: center;
}

/* CSS for welcome screen */

.welcome {
  width:100%;
  height:200px;
}

/* CSS for board */

.grid {
  text-align:center;
}

.row {
  display:flex;

}

.row > div {
  width:130px;
  height:130px;
  background-color:rgb(156, 222, 125);
  cursor:pointer;
  margin:1px;
}
